.vagrant/
*.bak
example-1/terraform.tfstate
example-1/terraform.tfstate.backup
example-1/.terraform/
ubuntu-xenial-16.04-cloudimg-console.log
example-1/.terraform.tfstate.lock.info
example-1/scripts/.terraform.lock.hcl
todo.txt
example-2/terraform.tfstate.backup
example-2/terraform.tfstate
example-2/.terraform/
example-2/scripts/terraform/.terraform.tfstate.lock.info
example-2/scripts/terraform/terraform.tfstate.backup
example-2/scripts/terraform/terraform.tfstate
example-2/scripts/terraform/
example-2/video-streaming/node_modules/
example-1/scripts/terraform.tfstate.backup
example-1/scripts/terraform.tfstate
example-1/scripts/.terraform/
example-2/scripts/terraform.tfstate.backup
example-2/scripts/terraform.tfstate
example-2/scripts/.terraform/
example-3/scripts/terraform.tfstate.backup
example-3/scripts/terraform.tfstate
example-3/scripts/.terraform/
example-3/video-streaming/node_modules/
example-4/video-streaming/node_modules/
example-1/scripts/.terraform.tfstate.lock.info
